{% extends 'base.html.twig' %}

{% block title %}Edit blog category | Symfony test blog{% endblock %}

{% block body %}
    <h1>Edit blog category</h1>
    {{ include('blog_category/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
