{% extends 'base.html.twig' %}

{% block title %}New blog category | Symfony test blog{% endblock %}

{% block body %}
    <h1>Create new blog category</h1>
    {{ include('blog_category/_form.html.twig') }}
{% endblock %}
